.landing {
  --landing-background: #f0ede6;
  --landing-surface: #fffaf1;
  --landing-surface-muted: #e0cdb0;

  --landing-text: #33231f;
  --landing-text-muted: #685f5c;
  --landing-border: #d7b19c;

  --landing-orange: #f97137;
  --landing-orange-light: #f29157;
  --landing-yellow: #f9d026;
  --landing-green: #1d824b;
  --landing-green-dark: #1d6d50;
  --landing-blue: #4b97cc;

  --landing-brown: #613e32;
  --landing-coral: #ee724a;
  --landing-lime: #78cd52;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-floating {
  animation: floating 2s ease-in-out infinite;
}

@keyframes move-from-left {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(12px);
  }
}

@keyframes move-from-right {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-12px);
  }
}

.animate-from-left {
  animation: move-from-left 3s ease-in-out infinite;
}

.animate-from-right {
  animation: move-from-right 3s ease-in-out infinite;
}

@media (min-width: 768px) {
  .animate-from-left,
  .animate-from-right {
    animation: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-from-left,
  .animate-from-right {
    animation: none;
  }
}
